@model IEnumerable<Department>

@{
	Layout = "CordinatorLayout";
}
<div id="content">
	<h2>Detaljer för ärendet</h2>
	<p class="info">Du är inloggad som samordnare</p>


	@await Component.InvokeAsync("ErrandDetail", ViewBag.Id)



	<section id="bottomColumn">
		<h3>Redigera ärende</h3>
		<p>
			Ange enhet:
			<form asp-controller ="Cordinator" asp-action="SaveDepartment" method="post">
				
				<select name="ChosenDepartment">
				<option selected="selected">Välj</option>
				@foreach (var department in Model)
				{
					<option value="@department.DepartmentId">@department.DepartmentName</option>
				}
			</select>
				<p><input class="button" type="submit" value="Spara" /></p>
			</form>

		</p>
		</section>
